/* @import url('https://use.typekit.net/pcf2yjw.css'); */

/* @font-face {
  font-family: 'Sofia';
  src: url('/fonts/Sofia-Pro-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Sofia';
  src: url('/fonts/Sofia-Pro-Light.ttf') format('truetype');
  font-weight: light;
} */
